a			{color:#669900;text-decoration:none;}
p 			{margin:5px 0;padding:5px 0;line-height:1.1em;}
h1			{font-size:1.0em;font-weight:bold;padding:2px 0;}
h2			{font-size:1.0em;font-weight:bold;padding:2px 0;}
h3			{font-size:1.2em;font-weight:bold;padding:5px 0;}
h4			{font-size:1.2em;font-weight:bold;padding:5px 0;}
i 			{color:#ff0000;}