* 			{margin:0;padding:0;}
a			{color:#669900;text-decoration:none;}
h1,h2		{font-size:1em;line-height:1em;font-weight:bold;padding:0;}
sup			{font-size:smaller;vertical-align:top;color:#669900;}
p           {padding:5 8 5 8}
li          {padding:0 8 0 8}
